<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>密碼產生器</title>
</head>

<body>
    <div class="hero is-fullheight is-dark">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-4 has-text-centered ">
                        <p class="title has-text-danger">密碼產生器</h1>
                    </div>
                </div>

                <div class="columns is-centered">
                    <div class="column is-6">
                        <form action="{% url 'password' %}" class="box">
                            <div class="field">
                                <label for="length">密碼長度</label>
                                <select name="length" id="length">
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8" selected>8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="field">
                                <label for="input-length" class="label">自定義長度
                                    <input type="number" name="input-length" class="input" id="input-length">
                                </label>
                            </div>
                            <div class="field is-horizontal">
                                <label for="" class="label">
                                    <input type="checkbox" name="uppercase" id="uppercase">
                                    大寫</label>
                                <label for="" class="label">
                                    <input type="checkbox" name="numbers" id="numbers">
                                    數字</label>
                                <label for="" class="label">
                                    <input type="checkbox" name="special" id="special">
                                    特殊
                                </label>
                            </div>
                            <input type="submit" class="button is-warning has-text-danger" value="產生">
                        </form>

                    </div>



                </div>

            </div>
        </div>
    </div>
</body>

</html>