<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密碼產生器</title>
</head>

<body>
    <h1>密碼產生器</h1>

    <form action="{% url 'password' %}">
        <label for="lenght">
            密碼長度

        </label>
        <select name="lenght" id="lenght">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8" selected>8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <label for="input-lenght">自訂義長度</label>
        <input type="number" name="input-lenght" id="'input-lenght">

        <br>
        <div class="select">
            <input type="checkbox" name="uppercase" id="uppercase">大寫
            <input type="checkbox" name="number" id="numbers">數字
            <input type="checkbox" name="special" id="special">特殊
        </div>
        <br>
        <div class='button'>
            <input type="submit" value="產生">
        </div>
    </form>

</body>

</html>